.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.prefix-chip-list {
  width: 100%;
}

.fileUploadForm__button {
  width: 250px;
}

.fileUploadForm__button-file--loaded {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  gap: 5px;

  span {
    line-height: normal;
  }

  span:first-child {
    display: block;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
